<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <p class="mySticky bg-gray text-dark user">Welcome
            <th:block th:if="${@currentUser.loggedIn}" th:text="${@currentUser.username}"></th:block>
        </p>
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
                <div>
                    <div class="home-fields" style="height: 40vh; overflow: auto">
                        <h3 class="my-stamps">My Stamps</h3>
                        <table class="my-table table-striped table-dark" th:each="stamp : ${myStamps}">
                            <tr class="my-stamps">
                                <td>
                                    <img th:src="${stamp.imageURL}"
                                         th:alt="${stamp.name}" width="70px"
                                         height="70px">
                                </td>
                                <td style="text-align: start" th:text="|Name: ${stamp.name}|">Name: {stampName}</td>
                                <td style="text-align: end; padding-right: 5px" th:text="|Description: ${stamp.description}|">Description: {stampDescription}</td>
                            </tr>
                            <tr>
                                <td>
                                <td style="text-align: start">Used paper:
                                <th:block th:text="${stamp.paper.name.name()}"></th:block>
                            </td>
                                <td style="text-align: end; padding-right: 5px">Price: {stampsPrice}$
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="home-fields" style="height: 39vh; overflow: auto">
                        <h3 class="my-stamps">My Purchases</h3>
                        <div class="bought">
                            <div th:each="stamp:${myPurchases}">
                                <div class="stamp">
                                    <div class="item">
                                        <img th:src="${stamp.imageURL}" th:alt="${stamp.name}" width="100px"
                                             height="100px">
                                        <p th:text="${stamp.name}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-1 mb-1">
                <div class="home-fields" style="height: 40vh; overflow: auto">
                    <h3 class="my-stamps">Offered Stamps</h3>
                    <ul class="list-group list-group-vertical text-dark" th:each="stamp : ${offeredStamps}">
                        <li>
                            <div class="my-stamps-first-row">
                                <div class="img1">
                                    <img id="image" width="85px" th:src="${stamp.imageURL}" th:alt="${stamp.name}"
                                         height="85" style="padding-top: 0.3em; padding-left: 0.3em; margin-top: 2.3em">
                                </div>
                                <div class="stamp-info">
                                    <p>Name:
                                        <th:block th:text="${stamp.name}"></th:block>
                                    </p>
                                    <p>Description:
                                    <th:block th:text="${stamp.description}"></th:block>
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-info">
                                <div class="favorite">
                                    <p><a class="btn-outline-info btn"
                                    th:href="@{/stamps/add-to-wish/{id}(id=${stamp.id})}"
                                    >To Wishlist
                                    </a>
                                    </p>
                                </div>
                            </div>
                            <div class="second-info">
                                <p>Added by:
                                <th:block th:text="${stamp.owner.username}"></th:block>
                                </p>
                                <p></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="home-fields" style="height: 39vh; overflow: auto">
                    <h3 class="my-stamps">My Wishlist</h3>
                    <div class="wish-list" th:each="wishStamp : ${myWishlist}">
                        <table class="my-table">
                            <tr class="my-stamps">
                                <td style="text-align: start; padding-left: 5px">{stampName}</td>
                                <img th:src="${wishStamp.imageURL}" th:alt="${wishStamp.name}" width="55px"
                                     height="55" style="padding-top: 0.3em; padding-left: 0.3em">
                                <td style="text-align: end; padding-right: 5px">Price:
                                    <th:block th:text="${wishStamp.price}"></th:block>
                                    $</td>
                                <td style="width: 15%; padding-top: 8px; padding-right: 5px">
                                    <a class="btn-danger btn"
                                       th:ref="@{/stamps/remove-from-wish/{id}(id=${wishStamp.id})}"
                                    >Remove</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="buttons-info">
                        <p style="margin-top: 10px"><a class="btn-info btn"
                        th:href="@{/stamps/buy}"
                        >Buy all
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
